@charset "utf-8";

@import "reset";

html {
  font: {
    size: 16px;
    family: "Arial", "Helvetica", "微軟正黑體", "sans-serif";
  }
  background: {
    color: #93044C;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  max-width: 1200px;
}

.mx {
  &-auto {
    margin: {
      left: auto;
      right: auto;
    }
  }
}

.main {
  margin: {
    top: 8px;
  }
  background: {
    color: #fff;
  }
  padding: 10px 15px;
  &__title {
    padding: {
      top: 10px;
      bottom: 10px;
    }
    font: {
      size: 1.5rem;
      weight: 600;
    }
    line-height: 1.1em;
  }
  &__content {
    padding: {
      top: 9px;
      bottom: 8px;
    }
    font: {
      size: 1rem;
    }
    line-height: 1.43em;
  }
}

.ad {
  animation: fadeIn 1s;
  background: {
    color: rgba(37, 37, 37, 0.4);
  }
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 8px;
  width: 380px;
  height: 200px;
  box-sizing: border-box;
  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
  &__close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    background: {
      color: #fff;
    }
    user-select: none;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
  }
}